<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"
/>

<div class="login-body">
  <div class="row">
    <div class="input-cart col s12 m10 push-m1 z-depth-2 grey lighten-5">
      <div class="col s12 m5 login">
        <h4 class="center">Log in</h4>
        <br />
        <form
          [formGroup]="loginForm"
          (ngSubmit)="loginSubmit()"
          autocomplete="off"
        >
          <div class="row">
            <div class="input-field">
              <input
              formControlName="username"
                type="text"
                id="user"
                name="username"
                class="validate"
                required="required"
                placeholder="Username"
              />
              <label for="user"> <i class="material-icons">person</i> </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input
              formControlName=""
                type="password"
                id="pass"
                name="password"
                class="validate"
                required="required"
                placeholder="Password"
              />
              <label for="pass">
                <i class="material-icons">lock</i>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="switch col s6">
              <label>
                <input type="checkbox" />
                <span class="lever"></span>
                Remember Me
              </label>
            </div>
            <div class="col s6">
              <a routerLink="">
                <button
                  type="submit"
                  name="login"
                  class="btn waves-effect waves-light blue right"
                >
                  Log in
                </button>
              </a>
            </div>
          </div>
        </form>
      </div>
      <!-- Signup form -->
      <div class="col s12 m7 signup">
        <div class="signupForm">
          <h4 class="center">Sign up</h4>
          <br />
          <form
            [formGroup]="registerForm"
            (ngSubmit)="regSubmit()"
            action="regCheck.php"
            name="signup"
            method="post"
            autocomplete="off"
          >
            <div class="row">
              <div class="input-field col s12 m6">
                <input
                formControlName="username"
                  type="text"
                  id="user"
                  name="username"
                  class="validate"
                  type="text"
                  id="name-picked"
                  name="username"
                  class="validate"
                  required="required"
                  placeholder="Enter a username"
                />
                <label for="name-picked">
                  <i class="material-icons">person_add</i>
                </label>
              </div>
              <div class="input-field col s12 m6">
                <input
                formControlName="password"
                  type="password"
                  id="pass"
                  name="password"
                  class="validate"
                  type="password"
                  id="pass-picked"
                  name="password"
                  class="validate"
                  required="required"
                  placeholder="Password"
                />
                <label for="pass-picked">
                  <i class="material-icons">lock</i>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="input-field email">
                <div class="col s12">
                  <input
                  formControlName="email"
                    type="text"
                    id="email"
                    name="email"
                    class="validate"
                    required="required"
                    placeholder="Enter your email"
                  />
                  <label for="email">
                    <i class="material-icons">mail</i>
                  </label>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <button
              type="submit"
              name="btn-signup"
              class="btn blue right waves-effect waves-light"
            >
              Sign Up
            </button>
          </div>
        </div>
        <div class="signup-toggle center">
          <h4 class="center">
            Have No Account ? <a href="#!" onclick="showSignIn()">Sign Up</a>
          </h4>
          <h3><a href="admin">admin</a></h3>
        </div>
      </div>
      <div class="col s12">
        <br />
        <div class="legal center"></div>
        <div class="legal center">
          <div class="col s12 m7 right">
            <p class="grey-text policy center">
              By signing up, you agree on our
              <a href="#!">Privacy Policy</a> and
              <a href="#!">Terms of Use</a> including
              <a href="#!">Cookie Use</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
