<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">

                </div>
                <h2 class="page-title">
                    Distribution
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <!-- <span class="d-none d-sm-inline">
              <a href="#" class="btn">
                New view
              </a>
            </span> -->
                    <!-- <a (click)=" openDialog()" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                        data-bs-target="#modal-report">

                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                        Make Order
                    </a>
                    <a (click)=" openDialog()" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                        data-bs-target="#modal-report" aria-label="Create new report">

                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                        </svg>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body">

    <div class="card">
        <div class="card-status-top bg-danger"></div>

        <div class="card-body">
            <h3 class="card-title">Filter By Date</h3>

            <div class="row">
                <div class="input-icon col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Start Date</label>
                        <input type="date" class="form-control" name="example-text-input"
                            placeholder="Input placeholder">
                    </div>

                </div>
                <div class="input-icon col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">End Date</label>
                        <input type="date" class="form-control" name="example-text-input"
                            placeholder="Input placeholder">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-body ">

    <div class="card">
        <div class="card-status-top bg-primary"></div>
        <mat-progress-bar *ngIf="loding" mode="indeterminate"></mat-progress-bar>


        <div style="margin:10px 0px 0px 10px;" class="example-form ml-3  mb-3">
            <label class="form-label"></label>
            <div class="input-icon">
                <input type="text" #input (keyup)="applyFilter($event)" class="form-control form-control-rounded"
                    placeholder="Search…" />
                <span class="input-icon-addon">
                    <!-- SVG icon from http://tabler-icons.io/i/search -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5Z" />
                    </svg>
                </span>
            </div>
        </div>
        <div>
            <div>

                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> S/N </th>
                        <td mat-cell *matCellDef="let row;let i = index"> {{i + 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="order_number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>order number </th>
                        <td mat-cell *matCellDef="let row"> {{row.order_number}} </td>
                    </ng-container>
                    <ng-container matColumnDef="area_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>area name </th>
                        <td mat-cell *matCellDef="let row"> {{row.area_name}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="store_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>store name</th>
                        <td mat-cell *matCellDef="let row"> {{row.store_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dateOfDistribution">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>dateOfDistribution</th>
                        <td mat-cell *matCellDef="let row"> {{row.dateOfDistribution}} </td>
                    </ng-container>
                    <ng-container matColumnDef="paper_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>paper name</th>
                        <td mat-cell *matCellDef="let row"> {{row.paper_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>quantity </th>
                        <td mat-cell *matCellDef="let row">
                            <span class="badge bg-teal"> {{row.quantity}} </span>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="totalsale">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Sales </th>
                        <td mat-cell *matCellDef="let row">

                            <span class="badge bg-yellow">
                                {{row.quantity*row.price | currency:'TZS ':'symbol':'1.2-2' }}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="balanceQty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>balance </th>
                        <td mat-cell *matCellDef="let row">
                            <span class="badge bg-purple"> {{row.balanceQty}} </span>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="current_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>current status </th>
                        <td mat-cell *matCellDef="let row">


                            <span *ngIf="row.current_status==1" class="form-check-label"><span
                                    class="badge bg-lime">Pending Order</span></span>

                            <span *ngIf="row.current_status==0" class="form-check-label"><span
                                    class="badge bg-indigo">Accepted Order</span></span>


                        </td>
                    </ng-container>
                    <ng-container matColumnDef="paper_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>paper </th>
                        <td mat-cell *matCellDef="let row"> {{row.paper}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <div class="row">


                                <button title="issue" (click)="openDistributionDialog(row)" style="margin-left: 5px;"
                                    class="col-md-2 btn btn-outline-success">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M12.08 4.08L20 12l-7.92 7.92l-1.41-1.42l5.5-5.5H2v-2h14.17l-5.5-5.5l1.41-1.42M20 12v10h2V2h-2v10Z" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

            </div>


        </div>
    </div>











    <ng-template #distributionDialog>
        <form [formGroup]="formData">
            <h1 mat-dialog-title>Distribute</h1>
            <div mat-dialog-content>
                <div class="row">



                    <div class="col-md-6">
                        <label class="form-label">Agents </label>

                        <select formControlName="issued_to" class="form-control">
                            <option [value]="null">-- Select --</option>
                            <option [value]="agentData1.agent_id" *ngFor="let agentData1 of agentData1">
                                {{agentData1.agent_name}}
                            </option>
                        </select>
                    </div>



                    <div class="col-md-6">
                        <label class="form-label">Quantity </label>
                        <input type="text" class="form-control" formControlName="quantity"
                            placeholder="Input quantity" />
                        <!-- <select formControlName="paper_id" class="form-control" formControlName="quantity">
                                <option [value]="''">-- Select --</option>
                                <option [value]="storeDataValue.store_id" *ngFor="let storeDataValue of storeDataValue">
                                    {{storeDataValue.store_name}}
                                </option>
                            </select> -->
                    </div>


                </div>
            </div>
            <div mat-dialog-actions>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-outline-danger" mat-dialog-close>Close</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-outline-primary" (click)=" submit()" mat-dialog-close>Issue</button>
                    </div>
                </div>

            </div>
        </form>
    </ng-template>